.home-top-services-container {
    margin-bottom: 20px;
}

.home-top-services-container .row {
    margin-top: 10px;
}

.home-ts-tax-first-title {
    margin-top: 10px;
    text-align: left;
    margin-bottom: 10px;
}

.home-ts-tax-titles {
    margin-top: 25px;
    text-align: left;
    margin-bottom: 10px;
}

.home-ts-icon-container {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 3px;
}

.home-ts-text-container {
    display: flex;
    justify-content: left;
    text-align: left;
    margin-left: 0px;
    margin-right: 3px;
    padding: 0px;
}

.home-ts-text-container a {
    color: #393D3D;
}


.home-ts-text-container a:hover {
    text-decoration: none;
    color: #D1661F;
}

.home-ts-bank-image {
    max-width: 200px;
    height: auto;
    padding-left: 10px;
    margin: 10px;
}

@media (max-width: 991px) {
    .home-top-services-container {
        border-top: 4px solid #929294;
        margin-top: 20px;
        padding-top: 20px;
    }
}