.chat-bot-container {
  display: flex;
  flex-direction: column;
  /* height: 100%;
  width: 100%; */
  background-color: #F7D77F;
  border: none;
  border-radius: 6px;
  /* overflow: hidden; */
  padding: 10px;
}

.chat-bot-title-area {
  margin: 5px;
}

.chat-bot-title-icon-area {
  display: flex;
  justify-content: center;  /* centra horizontalmente */
  align-items: center;      /* centra verticalmente */
}

.chat-bot-title-area h5 {
  margin-bottom: 0px;
}

.chat-bot-title-area h6 {
  margin-bottom: 0px;
}

.chat-bot-status-area {
  display: flex;
  justify-content: left;  /* centra horizontalmente */
  align-items: center;      /* centra verticalmente */
  margin-top: 5px;
}

.chat-bot-status-area p {
  margin-bottom: 0px;
  color: gray;
}

.chat-bot-chat-area {
  flex: 1;
  overflow-y: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  min-height: 300px;
  border-radius: 6px;
}

.chat-bot-message-area {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 0px;
  background-color: white;
  min-height: 80px;
  border-radius: 6px;
  padding: 0px;
}

.chat-bot-message-typing-area {
  padding: 10px;
  min-height: 80px;
}

.chat-bot-message-buttons-area {
  display: flex;
  flex-direction: column;   /* coloca los botones uno debajo del otro */
  justify-content: center;  /* centra verticalmente los botones dentro del área */
  align-items: center;      /* centra horizontalmente los botones */
  background-color: #F7D77F;
  border-radius: 0px 6px 6px 0px;
  height: 100%;
  padding-left: 7px;
}

.chat-bot-message-send-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D1661F;
  border: none;
  height: 45px;
  width: 100%;
  margin-bottom: 7px;
  border-radius: 0px 6px 0px 0px;
}

.chat-bot-message-clear-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #637215;
  border: none;
  height: 30px;
  width: 100%;
  border-radius: 0px 0px 6px 0px;
}

.chat-bot-message-send-button,
.chat-bot-message-clear-button {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.chat-bot-message-send-button:hover,
.chat-bot-message-clear-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.chat-bot-message-typing-input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-family: 'Avenir Next LT Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}